<h1>This is a demo site</h1>

<h2>Learning Ruby on Rails by reading Rails 4 in Action</h2>

<ul>
	<p><li>Admin login: <b>admin@ticketee.com</b> password: <b>password</b></li></p>
	<p><li>Viewer login: <b>viewer@ticketee.com</b> password: <b>password</b></li></p>
  <p>
    <li>The book: <%= link_to 'http://www.manning.com/bigg2/', 'http://www.manning.com/bigg2/' %></li>
  </p>
  <p>
    <li>My github repo: <%= link_to 'https://github.com/tenzan/ticketee', 'https://github.com/tenzan/ticketee' %></li>
  </p>
</ul>
