<h2>Learning Ruby on Rails by reading Rails 4 in Action</h2>

<ul>
  <p>
    <li>The book: <%= link_to 'http://www.manning.com/bigg2/', 'http://www.manning.com/bigg2/' %></li>
  </p>
  <p>
    <li>My github repo: <%= link_to 'https://github.com/tenzan/ticketee', 'https://github.com/tenzan/ticketee' %></li>
  </p>
</ul>
